.chat-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 25px;
}

.message-input {
    display: flex;
    position: absolute;
    width: 500px;
    bottom: 25px;
}